.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

header {
  margin-top: 64px;
  display: flex;
  align-items: end;
  justify-content: space-between;
}

.head_left {
}

.head_right {
  margin-right: 117px;
}

div > button {
  margin-left: 83px;
  width: 129px;
  height: 45px;
  font-size: 20px;
  color: #a79dbb;
  background-color: white;
  border: none;
}

.head_search {
  background: linear-gradient(
      270deg,
      rgba(141, 158, 255, 0.8) 0%,
      rgba(0, 0, 0, 0) 100%
    ),
    #6c4ab6;
  border-radius: 50px;
  color: white;
}

.head_LOGO {
  width: 100px;
  height: 35px;
  margin: 0px 20px 0px 51px;
}

.head_LOGO:hover {
  cursor: pointer;
}

.head_search:hover {
  background-color: #3c1d81;
  cursor: pointer;
}

.head_search:active {
  background: linear-gradient(
      270deg,
      rgba(141, 158, 255, 0.8) 0%,
      rgba(0, 0, 0, 0) 100%
    ),
    #6c4ab6;
  cursor: pointer;
}

.k:hover {
  text-decoration: underline;
  cursor: pointer;
}

.k:active {
  text-decoration: none;
  cursor: pointer;
}

.circle1 {
  width: 168px;
  height: 168px;
  margin: 50px 0px 0px 1570px;
  position: absolute;
  z-index: 1;
}

.circle2 {
  width: 37px;
  height: 37px;
  position: absolute;
  margin: 800px 0px 0px 100px;
}

.circle3 {
  width: 37px;
  height: 37px;
  position: absolute;
  margin: 50px 0px 0px 400px;
}

.circle4 {
  width: 73px;
  height: 73px;
  position: absolute;
  margin: 700px 0px 0px 1600px;
}

.circle5 {
  width: 24px;
  height: 24px;
  position: absolute;
  margin: 200px 0px 0px 150px;
}

.circle6 {
  width: 37px;
  height: 37px;
  position: absolute;
  margin: 500px 0px 0px 1500px;
}

.circle7 {
  width: 73px;
  height: 73px;
  position: absolute;
  margin: 500px 0px 0px 500px;
}

.search_input {
  margin: 150px 0px 0px 290px;
  position: absolute;
  width: 1336px;
  height: 80px;
  border-radius: 50px;
  border: solid 3px #6c4ab6;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: hsla(255, 65%, 66%, 7%);
}

.search_logo {
  width: 47.54px;
  height: 49px;
}

.search_input_text {
  margin-left: 50px;
  width: 1000px;
  height: 80px;
  border-style: none;
  font-size: 24px;
  background: transparent;
}

.search_input_text:focus {
  outline: none;
}

.search_input_text::-ms-clear,
.search_input_text::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}
.search_input_text::-webkit-search-decoration,
.search_input_text::-webkit-search-cancel-button,
.search_input_text::-webkit-search-results-button,
.search_input_text::-webkit-search-results-decoration {
  display: none;
}

.search_img {
  width: 90px;
  height: 100px;
  margin-left: 80px;
}
