.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

header {
  margin: 20px 20px 0px 20px;
  display: flex;
  align-items: end;
  justify-content: space-between;
}

.head_left {
}

.head_right {
  width: 900px;
}

div > button {
  margin: 0px 30px;
  width: 147px;
  height: 51px;
  font-size: 20px;
  color: #a79dbb;
  background-color: white;
  border: none;
}

.head_home {
  background: linear-gradient(
      270deg,
      rgba(141, 158, 255, 0.8) 0%,
      rgba(0, 0, 0, 0) 100%
    ),
    #6c4ab6;
  border-radius: 50px;
  color: white;
}

.head_LOGO {
  width: 140px;
  height: 49px;
  margin: 0px 20px 0px 20px;
}

.head_home:hover {
  background-color: #3c1d81;
  cursor: pointer;
}

.head_home:active {
  background: linear-gradient(
      270deg,
      rgba(141, 158, 255, 0.8) 0%,
      rgba(0, 0, 0, 0) 100%
    ),
    #6c4ab6;
  cursor: pointer;
}

.k:hover {
  text-decoration: underline;
  cursor: pointer;
}

.k:active {
  text-decoration: none;
  cursor: pointer;
}

.body {
}

.body_left {
  margin: 100px 100px 0px 0px;
}

.body_left_alram {
  position: absolute;
  width: 560px;
  height: 570px;
  margin: 0px 0px 0px 80px;
}

.body_left_circle1 {
  position: absolute;
  width: 168px;
  height: 168px;
  margin: 10px 0px 0px 380px;
}

.body_left_circle2 {
  position: absolute;
  width: 37px;
  height: 37px;
  margin: 250px 0px 0px 50px;
}

.body_left_circle3 {
  position: absolute;
  width: 73px;
  height: 73px;
  margin: 150px 0px 0px 600px;
}

.body_left_circle4 {
  position: absolute;
  width: 73px;
  height: 73px;
  margin: 400px 0px 0px 150px;
}

.body_left_circle5 {
  position: absolute;
  width: 37px;
  height: 37px;
  margin: 0px 0px 0px 600px;
}

.body_left_circle6 {
  position: absolute;
  width: 24px;
  height: 24px;
  margin: 80px 0px 0px 100px;
}

.body_left_circle7 {
  position: absolute;
  width: 37px;
  height: 37px;
  margin: 200px 0px 0px 550px;
}

.body_left_shape {
  position: absolute;
  width: 400px;
  margin: 200px 0px 0px 0px;
}

.body_right_font {
  font-size: 36px;
  font-weight: bold;
  color: #8d72e1;
}
.body_right {
  display: flex;
  justify-content: center;
}
